.mainContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 64px;

}
#message{
  margin-top: 10px;
}

textarea {
	border: none;
  border-radius: 2px;
	resize: none;
	background-color: #d3d3d3;
}

textarea:focus {
	outline: none;
}


.dataContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 600px;
}

.header {
  text-align: center;
  font-size: 32px;
  font-weight: 600;
  color: #FFFFFF;
}

.bio {
  text-align: center;
  color: gray;
  margin-top: 16px;
}

.waveButton {
  cursor: pointer;
  margin-top: 16px;
  padding: 8px;
  border: 0;
  border-radius: 5px;
  
}